.containerOuter { 
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

}

.pageTitle{
  flex: 0 0 100%;
  margin-top: 30px;
  min-width: 100%;
  max-height: 100px;
  margin-bottom: 0px;
}

.titleGallery { 
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 100%;
  color: black;
}

.parlorTitle{ 
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 100%;
  color: rgb(48, 48, 48);
}


.carouselContainer { 
  display: flex;
  flex-wrap: wrap;
}

.Carousel {
  justify-content:center;
  display: flex;
  flex: 0 0 100%;
}

.box { 
  margin: 0px;
}

.carousel-container { 
  width: 80vh; 
  height: 100px;
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
}
.thumbnails { 
  overflow-y: hidden;
  flex: 0 0 auto;
}
