.containerOuter { 
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.mainTitle{
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  margin-top: 30px;
  min-width: 100%;
  max-height: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.titleGallery { 
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 100%;
  color: black;
}

.parlorTitle{ 
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 100%;
  color: rgb(48, 48, 48);
}


.carouselOuter { 
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

.Carousel {
  justify-content:center;
  display: flex;
  flex: 0 0 100%;
}

.box { 
  margin: 0px;
  max-width: 100vh;
  justify-content: center;
}

.carousel-container { 
  width: 1000px;
  max-width: 1000px;
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
}
.thumbnails { 
  overflow-y: hidden;
  flex: 0 0 auto;
  height: 100px;
}
