.user-item  {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

Carousel {
  justify-content:center;
  display: flex;
  flex: 0 0 auto;
  height: 50%;
  max-height: 50%;
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}

.create-modal {
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-actions {
  display: flex;
  gap: 10px;
}
.parlorTitle{ 
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 100%;
  color: rgb(48, 48, 48);
}
.user-input {
  width: 100%;
  padding: 5px;
}

.titleGallery { 
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 100%;
  color: black;
}
