@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Bebas+Neue&family=Herr+Von+Muellerhoff&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Six+Caps&family=Tangerine&display=swap');

.box { 
  display: flex;  
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.fontChild{ 
  padding-left: 12px;
}

.fontName { 
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
}

input[type="text"]{ 
  font-size:24px;
} 

.pageTitle{
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  flex: 0 0 auto;
  color: black;
  margin-bottom: 40px;
  margin-top: 30px;
}

.testFont { 
  box-sizing: border-box;
  width: calc(33.3333333333% - 16px);

 font-size: 50px;
 color: white;
 flex: 0 0 auto; 
 margin-top: 10px;
 margin-right: 16px;
 flex-wrap: nowrap;
 border: solid rgb(255, 255, 255) 5px;
 padding: 10px;
}

#tf1 { 
  font-family: 'Lavishly Yours', cursive;
}

#tf2 { 
  font-family: 'Herr Von Muellerhoff', cursive;
}

#tf3 { 
  font-family: 'Monsieur La Doulaise', cursive;
}

#tf4 { 
  font-family: 'Six Caps', sans-serif;
}

#tf5 { 
  font-family: 'Tangerine', cursive;
}

#tf6 { 
  font-family: 'Alegreya Sans SC', sans-serif;
}

.realtimeInput { 
  height: 40px;
  flex: 0 0 100%;
  margin-bottom: 30px;
  align-self: flex-start;
  border: medium white;
} 

.realtimeInput input{ 
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
}

.rooms-error-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #EF0444;
}

.rooms-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rooms-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-modal {
  position: absolute;
  top: 40%;
  z-index: 1000;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-actions {
  display: flex;
  gap: 10px;
}

.user-input {
  width: 100%;
  padding: 5px;
}
