@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lavishly+Yours&display=swap');

.box { 
  display: flex;  
  flex: 1 0 100%;
  flex-wrap: wrap;
}

input[type="text"]{ 
  font-size:24px;
} 

.pageTitle{
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  flex: 1 0 100%;
  color: black;
  
}

.testFont{ 
 font-family: 'Lavishly Yours', cursive;
 
 font-size: 30px;
 color: black;
 background-color: white;
 flex: 0 0 auto; 
 margin-top: 10px;
 flex-wrap: wrap;
}

.realtimeInput { 
  height: 40px;
  flex: 0 0 100%;
  margin-bottom: 30px;
  flex-wrap: wrap;
} 

.realtimeInput input{ 
  width: 100%;
}

.realtimeInput:focus {
  background-color: #f28deb;
  border: #3e363e;
}

.rooms-error-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #EF0444;
}

.rooms-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rooms-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-modal {
  position: absolute;
  top: 40%;
  z-index: 1000;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-actions {
  display: flex;
  gap: 10px;
}

.user-input {
  width: 100%;
  padding: 5px;
}
